<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/bitdevs-maputo/bitdevsmaputo" target="_blank" rel="noopener nofollow">Code Source</a>
    </div>
    <div class="Footer-sponsor">
      <a href="/cities">Bitdevs</a>
    </div>
    <div class="Footer-sponsor">
      <a href="/sponsors">Sponsors</a>
    </div>
    
  </div>
</footer>
